E4. (10 min.) Cargue en un notebook de Google Colab el conjunto de datos IRIS y obtenga información como la varianza, media, desviación típica o el máximo de los atributos petal.length y sepal.length agrupados por la variedad.

In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')

In [4]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
df.groupby(by='variety')[['petal.length','sepal.length']].describe()

           petal.length                                               \
                  count   mean       std  min  25%   50%    75%  max
variety
Setosa             50.0  1.462  0.173664  1.0  1.4  1.50  1.575  1.9
Versicolor         50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Virginica          50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

           sepal.length
                  count   mean       std  min    25%  50%  75%  max
variety
Setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9